* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    line-height: 1.6;
    
  }
  
.comp-logo{
  margin-right: 700px;
  height: 50px;
  
}

  .navbar {
    background-color: rgb(26, 26, 94);
    padding: 9px;
    position:sticky;
    top: 0px;
    z-index: 1;
    
  }
  
  .navcontent {
    display:flex;
    margin-right: 150px;
    justify-content: right;
    list-style-type: none;
  }
  
  .navcontent li {
    margin: 0 10px;
   
  }
  
  .navcontent li a, .dropbtn {
    color: rgb(255, 255, 255);
    padding: 15px 10px;
    text-decoration: none;
    display:block;
  }
  
  .navcontent li a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    color: rgb(26, 26, 94);
  }
  
  /* Contact Button */
.contact-button {
 
      position: fixed;
      width: fit-content;
      right: 20px;
      top: 80%;
      background-color: rgb(26, 26, 94);;
      color: #fff;
      padding: 15px 20px;
      border-radius: 8px;
      text-align: center;
      font-weight: bold;
      z-index: 1;
  
     
  }
  
  .contact-button a {
      color: #fff;
      text-decoration: none;
      
  }
  
  .contact-button:hover {
   font-style: italic;
  }


  .dropdown-content {
    display:none;
    position: absolute;
    background-color:rgb(26, 26, 94);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
 .dropdown:hover .dropdown-content {
    display: block;
    background-color:rgb(26, 26, 94);    
  }
  
  
  .bgimg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    
  }
  
  .intro-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .introline {
    font-size: 2.5rem;
    animation: fadeIn 2s ease-in-out;
  }
  
  .company-name {
    font-weight: bold;
    font-size: 3rem;
    color: rgb(26, 26, 94);
  }
  
  .scroll-down {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(26, 26, 94);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    animation: bounce 2s infinite;
  }
  
  .scroll-down:hover {
    background-color: #FFC107;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
  }
  
  .section {
    padding: 60px 20px;
    text-align: center;
    
  }
  
  
  .aboutus{
    display: flex;
    justify-content: space-between;
    /* margin-top: 20px; */
    background-color: white;
    padding: 100px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 7px rgba(0, 0, 0, 0.1);
    width:95%;
    transition: transform 0.3s ease, background-color 0.3s ease;

  }

  .aboutus:hover{
    background-color: rgb(26, 26, 94);
    color: white;
    transform: translateY(-10px);
  }
  
  .aboutus h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    
  }
  
  .aboutus p {
    font-size: 1rem;
    text-align:justify;
    padding: 20px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 800px;
    text-align: center;
}

.image-container {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.image-container img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.carousel-container {
    width: 100%;
text-align: center;

}

.carousel {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 20px;
   
}

.carousel-button {
    background: rgb(26, 26, 94);
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 0 10px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    outline: none;
}

.carousel-button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.content-box {
    padding: 20px;
    background-color: #ffdddd;
   text-align: left;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-size: 1.2rem;
    color: #333;
    min-height: 100px;
   width: 80%;
    margin: 0 auto;
    display: none;  /*Start all content boxes hidden  */
    animation: fadeIn 0.5s ease;
}



.content-box-info{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
display: flex;
max-width: auto;
flex-direction: row;
padding: 20px;

}

.bttn{
text-align: center;
text-decoration: none;
font-size: 15px;
font-weight: bolder;
color:rgb(247, 241, 241);
background-color: rgb(26, 26, 94);
border: none;
padding: 15px 30px;
margin: 0 10px;
border-radius: 30px;
cursor: pointer;
}

.bttn:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.content-box-info img{
justify-content: center;

}

.fade-in {
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translatex(0);
    }
}


  .service-head{
  
    font-size: 1.6rem;
    margin-top: 50px ;
    text-align: center;

  }
  

  .testimonials {
   
    padding: 60px 20px;
    text-align: center;
  }

  .testimonials p{
    font-style: italic;
  }
  
  .testimonial-carousel {
    display: flex;
    justify-content: space-around;

  }
  
  .testimonial-card {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 7px rgba(0, 0, 0, 0.1);
    width: 30%;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .testimonial-card:hover {
    background-color: rgb(26, 26, 94);
    color: white;
    transform: translateY(-10px);
  }
  
  .testimonial-card p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .testimonial-card span {
    font-weight: bold;
    font-size: 1rem;
  }
  
  .contact {
    background-color: rgb(26, 26, 94);
    color: white;
    padding: 60px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .footer-left {
    width: 40%;
  }
  
  .social-media a {
    transition: transform 0.3s ease;
  }
  
  .social-media a img {
    
    width: 30px;
    height: 30px;
    mix-blend-mode:multiply;
  
  }
  
  .social-media a:hover {
    transform: scale(1.1);
  }
  

  .contact-form {
    margin-right: 140px;
    width: auto;
    height: fit-content;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    /* border: 1px solid #ccc; */
    border: none;

    border-radius: 5px;
    box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form button {
    background-color: rgb(26, 26, 94);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #FFD700;
  }
  
  .footer {
    background-color: rgb(26, 26, 94);
    color: white;
    text-align: center;
    padding: 10px;
   
  }
  
  .footer p {
    margin-top: 10px;
    font-size: 0.9rem;
  }
  



  /* responsive */

  